
/* Css unificado Phyxio */

/* Variables */
:root {
  overflow: hidden;
  /* Paleta de Colores Principal  */
  --bg-dark-fondo: #000000;
  --bg-dark-fondo-altenativo: #1C1C1C;
  --bg-dark-fuerte: #FF0000;
  --bg-dark-medio: #FF4500;
  --bg-dark-claro: #FFA500;
  --text-dark-fuerte: #FF6600;
  --text-dark-medio: #FF8C00;
  --text-dark-claro: #FFD580;
  --hover_dark: `#FFC300;
  --border-dark: #FF6600;

  /* Tamaños de Layout */
  --navbar-height: 150px;
  --sidebar-width-expanded: 280px;
  --sidebar-width-collapsed: 80px;

  /* Espaciado */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --indent-step: 24px;
  --border-radius: 8px;
}

/* General */
.page-root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-lg);
  height: var(--navbar-height);
  background: linear-gradient(135deg, #000000 20%, #ffa60046 40%, #ffa600af 50%, #ffa60046 60%, #000000 80%);
  color: var(--text-light-primary);
  border-bottom: 2px solid rgba(139, 92, 246, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  flex-shrink: 0; /* Evita que la navbar se encoja */
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  text-decoration: none !important;
  color: inherit;
}

.navbar-logo-img {
  height: 130px; /* Ajustado para mejor alineación */
  width: auto;
}

.navbar-title {
  font-size: 1.25rem;
}

.navbar-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(135deg, #fa0202 0%, #ffa600 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Cards dark */
.tema-card {
background-color: var(--card-bg);
border-color: var(--border);
color: var(--text);
}

.tema-card:hover {
background-color: var(--surface-3);
box-shadow: 0 8px 20px rgba(139, 92, 246, 0.3);
}

.tema-card-title {
color: var(--text-light-primary);
}

.tema-card-desc {
color: var(--text-secondary);
}

.tema-card-btn {
background: linear-gradient(135deg, #000000 0%, #ff8c20 100%);
margin: 10px;
padding: 10px;
color: rgb(255, 204, 163);
border-color: #0e0906;
}

.tema-card-btn:hover {
background: #ff6600;
}